@model PizzeriaApp.Domain.DomainModels.Order

<h1>Order Details</h1>
<div class="row mb-2">
    <label class="col-2"><strong>User </strong></label>
    <span>@Model.User</span>
</div>
<div class="row mb-2">
    <label class="col-2"><strong>Order ID </strong></label>
    <span>@Model.Id</span>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-right">#</th>
            <th scope="col">Pizza</th>
            <th scope="col" style="width: 40%">Ingredients</th>
            <th scope="col">Size</th>
            <th scope="col" class="text-right">Quantity</th>
            <th scope="col" class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PizzasInOrder.Count; i++)
        {
            var item = Model.PizzasInOrder.ElementAt(i);
        <tr>
            <th scope="row" class="text-right">@(i + 1)</th>
            <td>@item.SelectedPizza.PizzaName</td>
            <td>@item.SelectedPizza.PizzaIngredients</td>
            <td>@item.PizzaSize</td>
            <td class="text-right">@item.Quantity</td>
            <td class="text-right">$@item.PizzaPrice</td>
        </tr>
        }
</tbody>
    <tfoot class="border-bottom">
        <tr>
            <td colspan="4"><strong>Total</strong></td>
            <td class="text-right">
                @{int totalQuantity = 0;}
                @foreach (var pizza in Model.PizzasInOrder)
                {
                    totalQuantity += pizza.Quantity;
                }
                <strong>@totalQuantity</strong>
            </td>
            <td class="text-right">
                @{int totalPrice = 0;}
                @foreach (var pizza in Model.PizzasInOrder)
                {
                    totalPrice += pizza.Quantity * pizza.PizzaPrice;
                }
                <strong>$@totalPrice</strong>
            </td>
        </tr>
    </tfoot>
</table>

<div class="row mt-5">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-secondary">All orders</a>
    </div>
</div>
