@model List<PizzeriaApp.Domain.DomainModels.Pizza>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@section Styles {
    <style>
        .card-img-top {
            width: 100%;
        }

        .card p {
            height: 5em;
        }
    </style>
} 

@for (int i = 0; i < Model.Count; i++)
{
    var item = Model[i];
    if (i % 4 == 0)
    {
        @:<div class="row mb-2">
        }
        <div class="col-3">
            <div class="card">
                <img class="card-img-top img-fluid" src="@item.PizzaImage" alt="Pizza Image"/>
                <div class="card-body p-0 text-center">
                    <h4 class="card-title my-2">@item.PizzaName</h4>
                    <hr class="w-50"/>
                    <p class="mb-1 px-2">@item.PizzaIngredients</p>
                    <a asp-action="AddPizzaToCart" asp-route-id="@item.Id" class="btn btn-success btn-block text-white w-100">Order</a>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info" style="width: 6rem">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" style="width: 6rem">Delete</a>
                </div>
            </div>
        </div>
        if (i % 4 == 3)
        {
        @:</div>
    }
}
