@model IEnumerable<PizzeriaApp.Web.Models.Domain.Pizza>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaImage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
